.ship-list-item {
    cursor: pointer;
    user-select: none;
    color: white;
    &:not(:first-child) {
        margin-top: 8px;
    }
    > div {
        padding: 8px;
        border-left: 4px solid #591492;
        background: linear-gradient(
            90deg,
            rgba(89, 20, 146, 0.8) 0%,
            rgba(89, 20, 146, 0.3) 100%
        );
        &:not(:first-child) {
            margin-top: 1px;
        }
    }
}
