.root {
    margin: 8px;
}

.input {
    padding: 8px;
    border: 1px solid rgba(89, 20, 146, 1);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1em;
}

.submit {
    font-size: 1em;
    font-family: 'Noto Sans', sans-serif;
    padding: 8px;
    color: white;
    background-color: rgba(89, 20, 146, 1);
}